<h1>
    Every 20 minutes, look at something 20 feet away for 20 seconds.
</h1>
<h3>
    This website will beep to remind you. For your health.
</h3>


<div>
    
</div>









<h4>Links</h4>
<a href="https://github.com/zumbalogy/202020">Source Code</a>
<a href="">Redshift</a>
<br />
<a href="">f.lux</a>
<br />
<a href="">Hacker Vision</a>