<h1>
    Every 20 minutes, look at something 20 feet away for 20 seconds.
</h1>
<h3>
    This website will beep to remind you. For your health.
</h3>

<br />

<!-- <p id='start-time'>
    Start Time: 16:00
</p>

<p id='current-time'>
    Current Time: 16:00
</p>
 -->
<div id='next-break'>
    <p>
        Next Break in:
    </p>
    <div id='work-bar' class='bar'>
    </div>
    <div class='scale'>
        <pre>^<br />0m</pre>  
        <pre>^<br />5m</pre>
        <pre>^<br />10m</pre>
        <pre>^<br />15m</pre>
    </div>
</div>

<div id='break-timer'>
    <p>
        Break Over in:
    </p>
    <div id='break-bar' class='bar'>
    </div>
    <div class='scale'>
        <pre>^<br />0s</pre>  
        <pre>^<br />5s</pre>
        <pre>^<br />10s</pre>
        <pre>^<br />15s</pre>
    </div>
</div>







<br />
<br />


<h3>Links</h3>

<a href="https://github.com/zumbalogy/202020">
    Source Code
</a>
<br />
<br />
<a href="http://jonls.dk/redshift/">
    Redshift
</a>
<br />
<br />
<a href='http://justgetflux.com/'>
    f.lux
</a>
<br />
<br />
<a href="https://chrome.google.com/webstore/detail/hacker-vision/fommidcneendjonelhhhkmoekeicedej?hl=en-US">
    Hacker Vision
</a>