body {
    background-color: #202020;
    color: #ccc
}

a {
    color: #777;
    font-size: 1.6em;
    text-decoration: none;
}

.bar {
    background-color: plum;
    height: 25px;
    margin: 0;
}

.border {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25px;
    background-color: grey;
}


pre {
    color: #bfbebf;
    width: 25%;
    display: inline;
    float: left;
}

.scale {
    width: 100%;
    display: inline-block;
}

#break-bar {
    width: 0%;
}

#work-bar {
}

button {
    border: none;
    height: 2em;
    width: 25%;
    font-size: 2em;
    background-color: #777;
    color: #202020;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */

